* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 600;

}


html,
body {
    height: 100vh;
    width: 100%;
    background-color: #13072E;

}

.nav-container {
    background-color: #13072E;
    height: 23vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5%;
}

.nav {
    height: 23vh;
    width: 95%;
    background-image: url("nav-bg.png");
    background-size: cover;
    background-position:center;
    border-radius: 20px;

}
.nav h1 {
    position: relative;
    top: 50%;
    left: 1%;
    color: white;
    font-weight: bolder;
}
.nav-buttons {
    position: relative;
    top:5%;
    display: flex;
    justify-content: space-around;
    gap: 18%;
    z-index: 1;
}

.nav-buttons li {
    list-style: none;
}

.nav-buttons li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-left: 20px;
}

.back-button {
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #053D87;
    border-radius: 20px;
}
.search-button {
    height: 40px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #053D87;
    border-radius: 20px;
}
.logo {
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #fff;
    font-weight: bolder;
    
   
}
.logo i {
    padding-right: 10px;
   
}


.user-profile {
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
   
}
.video-container-parent{
    position: relative;
    top:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px
}
.video-container1 {
    position: relative;
    top:10%;
    width: 100%;
    max-width: 800px; /* Adjust this value as needed */
  }
  
  .video-container1 video {
    width: 100%;
    height: 50vh;
  }
  
  .video-container1  .button-container {
    text-align: center;
    margin-top: 10px; /* Adjust this value as needed */
  }
  
  .video-container1 .button-container button {
    padding: 10px 20px ;
    font-size: 16px;
    background-color: #F45050;
    border-radius: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .video-container-parent{
    position: relative;
    top:10%;
}
.video-container2 {
    position: relative;
    top:10%;
    width: 100%;
    max-width: 800px; /* Adjust this value as needed */
  }
  
  .video-container2 video {
    width: 100%;
    height: 50vh;
  }
  
  .video-container2  .button-container {
    text-align: center;
    margin-top: 10px; /* Adjust this value as needed */
  }
  
  .video-container2 .button-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #F45050;
    border-radius: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .footer{
    position: relative;
    top:13%;
    background:#1F025F;
    height: 5vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
