body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-zen-kaku-gothic-antique: "Zen Kaku Gothic Antique";
  
    /* font sizes */
    --font-size-base: 16px;
    --font-size-17xl: 36px;
    --font-size-smi-8: 12.8px;
    --font-size-13xl: 32px;
    --font-size-5xl: 24px;
    --font-size-xl: 20px;
    --font-size-6xl: 25px;
    --font-size-lg: 18px;
    --font-size-2xs-2: 10.2px;
  
    /* Colors */
    --color-darkslateblue-100: #053d87;
    --color-darkslateblue-200: #002658;
    --color-midnightblue-100: rgba(35, 18, 86, 0.48);
    --color-gray-100: #757575;
    --color-gray-200: #24243e;
    --color-gray-300: #212121;
    --color-gray-400: #1a1111;
    --color-gray-500: #13072e;
    --color-gray-600: rgba(0, 0, 0, 0.8);
    --color-white: #fff;
    --color-gainsboro-100: #d9d9d9;
    --color-gainsboro-200: rgba(217, 217, 217, 0.6);
    --color-tomato: #f45050;
    --color-whitesmoke: #f9f9fa;
    --color-darkgray: #9e9e9e;
    --color-darkslategray: #424242;
  
    /* Gaps */
    --gap-xs: 12px;
  
    /* Paddings */
    --padding-3xs: 10px;
    --padding-xl: 20px;
    --padding-8xs: 5px;+
    --padding-31xl: 50px;
  
    /* Border radiuses */
    --br-8xs: 5px;
    --br-6xl: 25px;
    --br-31xl: 50px;
    --br-11xl: 30px;
  }
  