* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;


}


html,
body {
    height: 100vh;

    width: 100%;

}

.container {
    height: 100vh;
    width: 100%;
    background-color: rgb(5, 5, 60);
}

.nav {
    height: 7vh;
    width: 100%;
    background-color: rgb(9, 9, 98);
}

.nav-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #fff;
    font-weight: bolder;
    margin-left: 1%;


}

.logo i {
    padding-right: 10px;

}

.nav-content {

    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1%;
}
.nav-links{
    width:50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.nav-content ul {
    display: flex;
    gap: 150px;
    align-items: center;
}

.nav-content ul li {
    list-style-type: none;
}

.nav-content ul li a {
    text-decoration: none;
    color: #fff;
}
.menu-icon{
    display: none;
}

.menu-icon i{
    color: #fff;
    font-size: 30px;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    margin-right: 0.9%;
}
.buttons li{
      list-style-type: none;
}
.buttons .login{
    background-color: red;
    font-weight: bold;
    border-radius: 50px;
    height: 30px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.buttons .signup{
    background-color: red;
    font-weight: bold;
    border-radius: 50px;
    height: 30px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.buttons .login li a,
.buttons .signup li a{
    color: #fff;
    padding: 20px;
    text-decoration: none;
  
}
.content-image{
    height: 25vh;
    width: 100%;
    background:#021e43;
   
}
.content-image-pic{
    background-image: url("Main Image.png");
    background-size: cover;
    background-position: center;
    height: 90%;
    width: 95%;
    border-radius: 20px;
    position: relative;
    top:1vh;
    left:2.2%;
}
.main-content-container{
    height: 70vh;
    width: 100%;
    background: #011b2e;
    background:;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
}
.main-content-img1{
    background-image: url("main image 1.png");
    background-size: cover;
    background-position: center;
    height: 90%;
    width:30%;
    border-radius: 20px;
}
.main-content-img2{
    background-image: url("main image 2.png");
    background-size: cover;
    background-position: center;
    height: 90%;
    width:30%;
    border-radius: 20px;
}
.main-content-img3{
    background-image: url("main image 3.png");
    background-size: cover;
    background-position: center;
    height: 90%;
    width:30%;
    border-radius: 20px;
}
.mission-vision-container{
    background:#021e43;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.mission-container ,.vision-container{
    height:70%;
    width:45%;
    background-color: #162c80;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
}

   

.ellipse{
    height:25%;
    width:25%;
    background-color: rgb(237, 219, 11);
    opacity: 30%;
    border-radius: 50%;
    position: absolute; /* Position relative to the container */
    left: 10%; /* Move 10% outside the viewport to the left */
    top: -10%;
}
.mission-content{
    
    height:80%;
    width:90%;
    text-align: center;
    position: relative;
    top:6%;
}
.mission-heading{
    font-size: 40px;
    color: #fff;
    font-weight: bolder;
    text-align: center;
   
}
.mission-content p{
    height:80%;
    width:90%;
    color:black;
    font-weight: 600;
    text-align: center;
    position: relative;
    top:10%;
    left:3%
}
.footer{
    background:#1F025F;
    height: 5vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
